/*fonts*/

@font-face {
    font-family: "PTSans";
    src: url("../fonts/PTSans.woff2") format("woff2"),
         url("../fonts/PTSans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PTSans";
    src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
         url("../fonts/PTSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: bold;
}


:root {
/*background*/
    --basic-grey: #F2F2F2;

/*header*/
    --basic-white: #FFFFFF;
    --basic-black: #000000;

/*advantages*/
    --basic-twilight-grey: #333333;
    --basic-blue: #81B3D2;
    --basic-delicious-grey: #EEEEEE;

/*form*/
    --basic-brown: #766357;
    --basic-dark-grey: #A9A9A9;

/*special*/
    /*infrastructure*/
    --basic-dim-grey: #6A6A6A;
    --basic-silver-grey: #ABABAB;
    --basic-brown-orange: #766357;
    --basic-light-grey: #CACACA;
    /*rating*/
    --medium-steel-grey: #666666;
    /*button activity*/
    --basic-mercury-grey: #E5E5E5;
    --basic-light-blue: #669EC0;
    --basic-dark-blue: #5496BD;
    --basic-light-brown: #604E43;
    --basic-dark-brown: #503E33;
    /*form activity*/
    --basic-pale-grey: #EBEBEB;
    /*copy*/
    --basic-black-grey: #231F20;
    --basic-transparent-grey: #BDBBBC;
}

/* Global */

.page-body {
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-twilight-grey);
  text-transform: uppercase;
  background-color: var(--basic-white);

}

a {
  text-decoration: none;
}


img {
  max-width: 100%;
  height: auto;
}

.title-hidden {
  display: none;
}

.site-navigation {
  list-style: none;
}

.features-nested-list {
  list-style: none;
  }


.social-list {
  list-style: none;

}

.sort-list {
  list-style: none;
}

.catalog-list {
  list-style: none;
}

.ranking {
  list-style: none;
}

/* Grid */
.page {
  height: 100%;
}

/* Main header */


/* Main navigation */

.main-navigation {
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}



.main-header-bar {
  background-color: var(--basic-white);
}


/* User navigation */

.site-link:link,
.site-link:visited {
  color: var(--basic-black);
}

.site-link:hover {
  color: var(--basic-blue);
}

.site-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.selected-link .link-selected {
  color: var(--basic-brown);
}


/* Container */


/* Welcome */

.welcome-block {
  background-image: url(/img/background_photo.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}


.features-list {
  list-style: none;
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


/* typographic */

.title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.subtitle {
  line-height: 21px;
  font-weight: 700;
  text-align: center;
}

.subtitle-white {
  color: var(--basic-white);
  text-align: center;
}

.desc-reason {
  line-height: 26px;
  text-align: center;
}

.desc-white {
  color: var(--basic-white);
}

.desc-interest {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

.desc-dates {
  line-height: 24px;
}

.subtitle-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.subtitle-sort {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.desc-found {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.desc-contacts {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  font-style: normal;
}

.sort-list {
  font-size: 12px;
  line-height: 18px;
}

/* background */

.block-blue {
  background-color: var(--basic-blue);
}

.block-grey {
  background-color: var(--basic-delicious-grey);
}

.color-grey {
  background-color: var(--basic-grey);
}


/* icon */

.icon-house {
  background-image: url(/img/icon_house.svg);
  background-position: top center;
  background-repeat: no-repeat;
}

.icon-food {
  background-image: url(/img/icon_food.svg);
  background-position: top center;
  background-repeat: no-repeat;
}

.icon-gifts {
  background-image: url(/img/icon_gift.svg);
  background-position: top center;
  background-repeat: no-repeat;
}


/* name of the hotel */

.subtitle-name .catalog-title-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}

.subtitle-name .catalog-title-link:hover {
  color: var(--basic-blue);
}

.subtitle-name .catalog-title-link:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

/* more detailed */

.catalog-detail {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}


.catalog-detail:hover {
  background-color: var(--basic-light-blue);
}

.catalog-detail:active {
  background-color: var(--basic-dark-blue);
  color: rgba(255,255,255,0.3)
}

/* to book */

.armoring {
  text-transform: uppercase;
}

.catalog-button {
  color: var(--basic-white);
  background-color: var(--basic-brown-orange);
}

.catalog-button:hover {
  background-color: var(--basic-light-brown);
}

.catalog-button:active {
  background-color: var(--basic-dark-brown);
  color: rgba(255, 255, 255, 0.3)
}




/* footer */

.contacts-phone {
  color: inherit;
}


/* Social button */

.social-button:link {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.social-button:hover {
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.social-button:active {
  color: var(--basic-white);
  background-color: var(--basic-dark-blue);
  opacity: 0.3;
}

.copyright-logo:link {
  fill: var(--basic-black-grey);
}

.copyright-logo:hover {
  fill: var(--basic-blue);
}

.copyright-logo:active {
  fill: var(--basic-transparent-grey);
}

/* filtration */

.filtration:link {
  fill: var(--basic-light-grey);
}

.filtration:hover {
  fill: var(--basic-black);
}

.filtration:active {
  fill: var(--basic-blue);
}

 /*sort-link */

 .sort-link {
   color: rgba(0, 0, 0, 0.3);
   border-bottom: 1px dashed #81B3D2;
 }

 .sort-link:hover {
   color: var(--basic-blue);
   border-bottom: 1px dashed #81B3D2;
 }

 .sort-link:active {
   color: var(--basic-black);
   border-bottom: none;
 }

 .selected-sort .sort-selected {
   color: var(--basic-blue);
 }

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1 / 4;
}

.feature-item:first-child .feature-img {
  grid-column: 2 / 4;
}

.feature-item:nth-child(2) .feature-img {
 grid-column: 1 / 3;
}

.main-footer {
  display: flex;
}

.footer-contacts {
  text-align: center;
  flex-basis: 328px;
  margin-left: 73px;
}

.footer-social {
  text-align: center;
  flex-basis: 328px;
  margin-left: 30px;
}

.social-item {
  display: inline;
}

.flex-copyright {
  text-align: center;
  flex-basis: 328px;
  margin-left: 30px;
  margin-right: 73px;
}


.sort {
  display: flex;
  justify-content: space-between;

}

.sort-item {
  display: inline;
}

.catalog {
  display: flex;
  padding-left: 72px;
}

.site-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
