/*fonts*/

@font-face {
    font-family: "PTSans";
    src: url("../fonts/PTSans.woff2") format("woff2"),
         url("../fonts/PTSans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PTSans";
    src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
         url("../fonts/PTSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: bold;
}

/*Variables*/

:root {
/*background*/
    --basic-grey: #F2F2F2;

/*header*/
    --basic-white: #FFFFFF;
    --basic-black: #000000;

/*advantages*/
    --basic-twilight-grey: #333333;
    --basic-blue: #81B3D2;
    --basic-delicious-grey: #EEEEEE;

/*form*/
    --basic-brown: #766357;
    --basic-dark-grey: #A9A9A9;

/*special*/
    /*infrastructure*/
    --basic-dim-grey: #6A6A6A;
    --basic-silver-grey: #ABABAB;
    --basic-grey-orange: #766357;
    --basic-light-grey: #CACACA;
    /*rating*/
    --medium-steel-grey: #666666;
    /*button activity*/
    --basic-mercury-grey: #E5E5E5;
    --basic-light-blue: #669EC0;
    --basic-dark-blue: #5496BD;
    --basic-light-brown: #604E43;
    --basic-dark-brown: #503E33;
    /*form activity*/
    --basic-pale-grey: #EBEBEB;
    /*copy*/
    --basic-black-grey: #231F20;
    --basic-transparent-grey: #BDBBBC;
}

/* Global */

body {
  max-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-twilight-grey);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.title-hidden {
  display: none;
}

/* Main navigation */

.site-navigation {
  list-style: none;
}

/* User navigation */

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}


.site-navigation a:visited,
.user-navigation a:visited {
  color: var(--basic-brown);
}

/* Welcome */

.welcome-block {
  background-image: url(/img/background_photo.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

/* Features */

.features-list {
  list-style: none;
}

.features-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.features-desc {
  line-height: 26px;
}

.feature-heading {
  font-size: 21px;
  font-weight: 700;
}

.color-white {
  color: var(--basic-white);
}

.color-blue {
  background-color: var(--basic-blue);
}

.feature-subtitle {
  font-size: 21px;
  font-weight: 700;
}

.nested-icon-house {
  background-image: url(/img/icon_house.svg);
  background-position: top center;
  background-repeat: no-repeat;
}

.nested-icon-food {
  background-image: url(/img/icon_food.svg);
  background-position: top center;
  background-repeat: no-repeat;
}

.nested-icon-gifts {
  background-image: url(/img/icon_gift.svg);
  background-position: top center;
  background-repeat: no-repeat;
}

.color-grey {
  background-color: var(--basic-delicious-grey);
}

/* Apartment-search */

.apartment-subtitle {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

.apartment-text {
  line-height: 24px;
}

/* footer */

.main-footer {
  background-color: var(--basic-white);
  opacity: 0.9;
}

/* footer-contacts */

.contacts-phone {
  color: inherit;
}

.text-contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  font-style: normal;
}

.footer-social {
  text-align: center;
}

/* Social button */

.social-button {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.social-button:hover {
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.social-button:focus {
  color: var(--basic-white);
  background-color: var(--basic-dark-blue);
  opacity: 0.3;
}

/* footer-copyright */

.footer-copyright {
  line-height: 26px;
}

.copyright-picture:hover {
  background-image: url(/img/logo-htmlacademy-blue.svg);
  background-position: top center;
  background-repeat: no-repeat;
}
